{{- /* Nur belegte Redaktionsdaten. Kein "heute" oder Datum fremder Artikel
     auf Impressum/Datenschutz/Über. Für Listen darf das neueste enthaltene
     Artikeldatum (inkl. lastmod) verwendet werden. Zukunftswerte verwerfen. */ -}}
{{- $today := now.Format "2006-01-02" -}}
{{- $date := "" -}}
{{- if not .Date.IsZero -}}{{- $date = .Date.Format "2006-01-02" -}}{{- end -}}
{{- with .Params.lastmod -}}
  {{- $lm := (time.AsTime .).Format "2006-01-02" -}}
  {{- if and (le $lm $today) (gt $lm $date) -}}{{- $date = $lm -}}{{- end -}}
{{- end -}}
{{- if or .IsHome .IsSection -}}
  {{- range where site.RegularPages "Section" "posts" -}}
    {{- $lm := partial "sitemap_lastmod.html" . -}}
    {{- if gt $lm $date -}}{{- $date = $lm -}}{{- end -}}
  {{- end -}}
{{- end -}}
{{- if gt $date $today -}}{{- $date = "" -}}{{- end -}}
{{- $date -}}
