{{- /* Callout: paired ({{< callout type="tip" >}}…{{< /callout >}}) oder
       unpaarig mit text="…". type: info | tip | warning */ -}}
{{- $type := .Get "type" | default "info" -}}
{{- $text := .Get "text" | default "" -}}
{{- $inner := .Inner | default "" -}}
{{- $body := cond (gt (len (trim $inner " \t\r\n")) 0) $inner $text -}}
{{- $cls := "ff-callout--info" -}}
{{- $label := "ℹ Hinweis" -}}
{{- if eq $type "warning" -}}
  {{- $cls = "ff-callout--warning" -}}
  {{- $label = "⚠ Wichtiger Hinweis" -}}
{{- else if eq $type "tip" -}}
  {{- $cls = "ff-callout--tip" -}}
  {{- $label = "💡 Tipp" -}}
{{- end -}}
<div class="ff-callout {{ $cls }}" role="note">
  <div class="ff-callout__head">
    <strong>{{ $label }}:</strong>
  </div>
  <div class="ff-callout__body">
    {{- if gt (len (trim $inner " \t\r\n")) 0 }}
    {{ $inner | markdownify }}
    {{- else }}
    {{ $body }}
    {{- end }}
  </div>
</div>
